<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.severalactivity">
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"></action>
                <category android:name="android.intent.category.LAUNCHER"></category>
            </intent-filter>
        </activity>

        <activity android:name=".MainActivity" android:label="8-colour Lusher test">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ActivityEntry"
            android:label="ActivityEntry">
        </activity>
        <activity
            android:name=".ActivityForgetPsw"
            android:label="ActivityForgetPsw">
        </activity>
        <activity
            android:name=".ActivityNewAccount"
            android:label="ActivityNewAccount">
        </activity>
        <activity
            android:name=".ActivityTest"
            android:label="ActivityTest">
        </activity>
        <activity
            android:name=".ActivityResult"
            android:label="ActivityResult">
        </activity>
        <activity
            android:name=".ActivityTask"
            android:label="ActivityTask">
        </activity>
        <activity
            android:name=".ActivitySeeAccount"
            android:label="ActivitySeeAccount">
        </activity>
        <activity
            android:name=".ActivityAdminPage"
            android:label="ActivityAdminPage">
        </activity>
        <activity
            android:name=".ActivityUsers"
            android:label="ActivityUsers">
        </activity>
        <activity
            android:name=".ActivityUserDetails"
            android:label="ActivityUserDetails">
        </activity>
        <activity
            android:name=".ActivityUserResults"
            android:label="ActivityUserResults">
        </activity>
        <activity
            android:name=".ActivityEditAccount"
            android:label="ActivityEditAccount">
        </activity>
        <activity
            android:name=".ActivityResultUser"
            android:label="ActivityResultUser">
        </activity>
    </application>

</manifest>